# Ignorar todo por defecto
/*

# Ignorar todas las carpetas __pycache__
**/__pycache__/

# No ignorar la carpeta CodesPython
!/CodesPython/

# Ignorar una carpeta específica dentro de CodesPython
/CodesPython/Neural_Networks/__pycache__/

# No ignorar estos archivos y carpetas específicos
!/.gitignore
!/README.md
!/requirements.txt
!/main.py